<% content_for :title do %>
  Algos | Home
<% end %>

<div class="container-fluid">
  <div class="row">
    <h1 class="text-dark">Home</h1>
  </div>
  <div class="row">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a sapien eget lacus tristique tincidunt non id metus.
    In arcu leo, elementum in commodo nec, egestas ut velit. Duis nisl elit, vestibulum id nibh in, bibendum blandit nunc.
    Fusce auctor mi quis augue rhoncus, vitae aliquet augue porta. Proin sollicitudin orci non elit feugiat, quis faucibus
    tellus feugiat. Vivamus elit arcu, vehicula ac est id, dapibus condimentum diam. Nulla facilisi. <br><br>

    Mauris tortor orci, sodales a orci ut, vestibulum accumsan ligula. Proin sem mi, luctus ut euismod at, suscipit quis
    sapien. Vivamus sagittis nunc vel ipsum condimentum gravida. Maecenas consequat laoreet nulla. Nulla pellentesque aliquet
    luctus. Fusce sed risus a sem interdum tristique eu ac dolor. Praesent egestas odio turpis, et cursus nulla tristique at.
    Mauris id urna tempus, imperdiet risus eget, aliquet ante. Donec a justo tincidunt sem scelerisque faucibus. Suspendisse
    rutrum purus a quam tristique tempor pretium eu dolor. Mauris molestie urna vitae dictum pulvinar. Phasellus ac est vel
    nulla venenatis varius. Sed ligula turpis, fringilla non pharetra quis, tincidunt scelerisque leo. Pellentesque pharetra
    elit erat, a maximus est euismod id. Nullam commodo, felis vitae tincidunt consectetur, elit justo blandit diam, id
    vestibulum urna mi eget enim. Donec et pretium nisl. <br><br>

    Cras luctus risus nec ipsum pretium ultricies. Donec eu odio at diam hendrerit facilisis. Sed in varius libero.
    Mauris quis ante ac arcu scelerisque vehicula eget ut leo. Morbi vestibulum turpis nec lobortis tincidunt. Vestibulum
    vel dolor eros. Donec in nisl tortor. Maecenas molestie vulputate ultrices. Nulla fermentum mi eget nulla gravida
    sodales. Quisque ultrices eleifend nunc, vitae eleifend velit dictum nec. In in pretium quam, quis placerat tellus.
    Integer venenatis mi nec ante vestibulum, vel iaculis ante faucibus. Aliquam ac justo et leo condimentum placerat.
    Suspendisse potenti. Sed sodales, enim eu congue suscipit, enim sapien pulvinar urna, vel dignissim nisl risus vitae purus.
  </div>
</div>